@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
  

:root{
    --font-principal:'Afacad Flux', arial;
}

body{
    background-color: hsl(212, 45%, 89%);
}


main {
    background-color: hsl(0, 0%, 100%);
    max-width: 280px;
    height: 462px;
    margin: 200px auto ;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img{
    max-width: 280px;
    border-radius: 10px;
}



h1{
    text-align: center;
    margin: 6px 0px 0px 0px;
    padding: 0px 20px;
    font-size: 1.5em;
    font-family: 'Afacad Flux';
}

p{
    font-weight: normal;
    color: rgba(0, 0, 0, 0.479);
    font-family: var(--font-principal);
    padding: 20px;
    text-align: center;
    margin: 0px;
}
